@import "reset";
@import "header";
@import "footer";
@import "mobile_nav";
@import "the-content";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');


.overlay-search{
    background: rgba(0, 0, 0, 0.664);
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.form-s-header{
    position: fixed;
    z-index: 9999;
    min-width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    height: 43px;
    border: 1px solid #fff;
    animation: zoom .3s forwards;
    display: none;

    @media only screen and (max-width: 768px){
        &{
            min-width: 570px;
        }
    }

    @media only screen and (max-width: 576px){
        &{
            min-width: 300px;
        }
    }

    @keyframes zoom {
        0%{
            display: flex;
            transform: translate(-50%, -50%), scale(0.7);
        }

        100%{
            display: flex;
            transform: translate(-50%, -50%), scale(1);
        }
    }

    .form-control{
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        background: none;
        color: #fff;
        padding-left: 10px;

        &:focus{
            outline: none;
            box-shadow: none;
        }

        &::placeholder{
            color: #fff;
        }
    }

    button{
        border: none;
        outline: none;
        background: none;
        color: #fff;
        font-size: 18px;
        transition: .3s ease-out;

        &:hover{
            color: #582C83;
        }
    }
}


body{
    &.s-search{
        overflow: hidden;
        position: fixed;
        width: 100%;
        min-height: 100%;
    }
}

// ---------------------------------------------- components ---------------------------------------------------
.v-to-see{
    display: block;
    width: max-content;
    text-transform: uppercase;
    font-size: 16px;
    color: #3B0077;
    padding: 10px 25px;
    border: 1px solid #3B0077;
    transition: .3s ease-out;
    
    &:hover{
        color: #fff;
        background: #3B0077;
    }
}

.blogs-box{
    margin-bottom: 15px;
   .box-text{
       background: #F2F0EB;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 25px 0px;
        font-size: 10px;
       .title{
           height: 60px;
           display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 1.8em;
            color: #1e1e1e;
            transition: .3s ease-out;
       }
   } 
}


.main-title{
    font-size: 10px;
    text-align: center;
    margin-bottom: 35px;


    h2{
        display: block;
        font-size: 2.8em;
        text-transform: uppercase;
        color: #582c83;
        user-select: none;
    }

    h4{
        display: block;
        font-size: 20px;
        font-variant: small-caps;
        color: #582c83;
        user-select: none;
    }

    .sub-t{
        font-size: 2.2em;
        color: #582c83;
        text-align: left;
    }
}



// ---------------------------------------------------------------- home ------------------------------------------



main{
    background-image: url("../images/bg_1.svg");
    background-position: 60% 60%;
    background-size: cover;
}


.main-banner{
    figure{
        max-width: 100%;
        position: relative;
        height: 100vh;
        overflow: hidden;   

        img{
            width: 100%;
            position: relative;
            height: 100%;
            object-fit: cover;
        }

        figcaption{
            position: absolute;
            left: 4%;
            bottom: 12%;
            background-color: rgba(2, 2, 2, 0.5);
            max-width: 415px;
            padding: 15px;
            font-size: 10px;
            h1{
                color: #fff;
                font-size: 4.6em;
                font-variant: small-caps;
                padding-bottom: 20px;
                display: block;
            }

            a{
                text-transform: uppercase;
                width: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                padding: 0px 40px;
                border: 1px solid #5A5A5A;
                transition: .3s ease;
                color: #fff;
                font-size: 16px;

                &:hover{
                    border: 1px solid #fff;
                }
            }
        }
    }
}


.list-product{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    overflow: hidden;

    .title-product{
        flex: 0 0 10%;
        font-size: 10px;
        position: relative;
        &.cl-1{
            background: #582C83;
        }

        &.cl-2{
            background: #9D895E;
        }

        h2{
            display: block;
            font-size: 3.6em;
            text-transform: uppercase;
            color: #fff;
            transform: rotate(90deg);
            width: 240px;
            position: absolute;
            top: 41%;
            left: 7%;
        }
    }

    .row{
        flex: 0 0 90%;
        align-self: flex-end;

        &.no-gutters{
            margin-left: -8.5px;
            margin-right: -8.5px
        }

        &.no-gutters>.col, &.no-gutters>[class*=col-]{
            padding-left: 8.5px;
            padding-right: 8.5px;
        }

        .images-resue{
            display: block;
            overflow: hidden;
            

            &:hover{
                img{
                    transform: scale(1.1);
                }
            }

            img{
                vertical-align: middle;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s ease-out;
            }
        }

        .view-box{
            background: #F2F0EB;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
}

.blogs{
    margin-top: 50px;
    padding-bottom: 90px;
    .container{
        max-width: 1235px;
    }

    .row{

        &.no-gutters{
            margin-left: -8.5px;
            margin-right: -8.5px
        }

        &.no-gutters>.col, &.no-gutters>[class*=col-]{
            padding-left: 8.5px;
            padding-right: 8.5px;
        }

        .images-blogs{
            display: block;
            overflow: hidden;
            

            &:hover{
                img{
                    transform: scale(1.1);
                }
            }

            img{
                vertical-align: middle;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .3s ease-out;
            }
        }

    }
}



// ------------------------------------------------ about us --------------------------------------------------------

.video-abouts{
    iframe{
        vertical-align: middle;
    }
}


.about-us-content{
    background: #F2F2F2;
    padding: 45px 0px;
}


.content-about{
    h3{
        color: #5B3085;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    p{
        font-size: 16px;
        color: #1d1d1d;
        line-height: 28px;
        margin-bottom: 10px;
    }
}

// ------------------------------------------------- service -----------------------------------------------------

.services{
    background: #F8F8F8;
    padding: 40px 0px;
}


.icon-s-box{
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 100%;
    padding: 25px;
    img{
        vertical-align: middle;
        max-width: 80px;
    }

    .text{
        padding-top: 20px;
        .title{
            font-size: 20px;
            color: #582c83;
        }

        .content{
            font-size: 16px;
            color: #1d1d1d;
            padding-top: 15px;
        }

        .v-to-see{
            margin-top: 17px;
        }
    }
}



// -------------------------------------------------- categories --------------------------------------------------

.container{
    &.search-cate{
        max-width: 615px;
        padding-top: 70px;
    }

    .search-category{
        width: 100%;

        input{
            width: 100%;
            height: 48px;
            border: none;
            outline: none;
            padding-left: 15px;
            background: #EEEEEE;

            &::placeholder{
                font-size: 16px;
                color: #D4D4D4;
            }
        }
    }
}

.list-category{
    padding: 40px 0px;

    .row{

        &.no-gutters{
            margin-left: -5px;
            margin-right: -5px
        }

        &.no-gutters>.col, &.no-gutters>[class*=col-]{
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;
        }

        
    }

    .cate-links{
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px;
        border: 1px solid #EEEEEE;
        color: #B18FB0;
        font-weight: 500;
        transition: .3s ease-out;

        &:hover{
            background: #582C83;
            color: #fff;
        }
    }
}

.list-store{
    padding: 40px 0px;

    .row{
        padding-top: 35px;
        border-top: 1px solid #DDDDDD;
    }
}

.store-address{
    padding: 45px 0px;
    .logo-store-box{
        box-shadow: 1px 4px 8px #dcdcdc;
        background: #fff;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        img{
            max-width: 180px;
            max-height: 180px;
        }
    }

    .title-address{
        font-size: 20px;
        color: #582c83;
        margin-bottom: 20px;
    }

    .address-list{
        li{
            color: #1d1d1d;
            font-size: 16px;
            line-height: 28px;

            &::before{
                content:"";
                font-family: "fontawesome";
                padding-right: 8.5px;
            }

            &:nth-child(1){      
                &::before{
                    content:"\f041";
                }
            }

            &:nth-child(2){
                &::before{
                    content:"\f095";
                }            
            }

            &:nth-child(3){
                &::before{
                    content:"\f0ac";
                }           
            }


            a{
                color: #582C83;
            }
        }
    }
}


// ---------------------------------------------------- actractions --------------------------------------------------

.list-attract{
    padding: 60px 0px;

    .container{
        max-width: 1235px;
    }
}


.attraction-box{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;

    figure{
        width: 100%;
        position: relative;
        overflow: hidden;

        &:hover{
            figcaption{
                transform: scale(1);
            }

            img{
                transform: scale(1.2);
            }
        }

        img{
            vertical-align: middle;
            position: relative;
            transition: .3s ease-out;
        }

        figcaption{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 90;
            background: rgba(88,44,131,0.75);
            transition: .2s ease-out;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 25px;
            transform: scale(0);
            

            p{
                font-size: 15px;
                color: #fff;
                text-align: center;
                line-height: 27px;
            }

            .v-to-see{
                border: 1px solid #fff;
                color: #fff;
                margin-top: 18px;
            }
        }
    }

    .box-text{
        background: #242424;
        text-align: center;
        padding: 20px 0px;

        .title{
            font-size: 20px;
            color: #fff;

        }
    }
}


.attrac-detail-content{
    padding: 60px 0px;
}

.attrac-box{
    .content{
        .title{
            font-size: 20px;
            color: #582c83;
            margin-bottom: 15px;
        }

        p{
            font-size: 16px;
            line-height: 28px;
            color: #1d1d1d;
        }
    }
}


.blog-detail{
    padding: 55px 0px;

    .container{
        max-width: 1235px;
    }
}

.post-side-bar{
    .row{
        margin-top: 17px;
    }

    .title-post-side{
        font-size: 15px;
        color: #333;
        transition: .3s ease-out;
        display: block;
        padding-left: 18px;
        
        &:hover{
            color: #582C83;
        }
    }
}


.box-related{
    &:hover{

        figcaption{
            opacity: 1;
            visibility: visible;

            .v-to-see{
                transform: translateY(0);
            }
        }
      
    }
    figure{
        position: relative;
        img{
            position: relative;
        }

        figcaption{
            position: absolute;
            width: 100%;
            height: 100%;
            background: #582c837d;
            top: 0;
            left: 0;
            z-index: 90;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s ease-out;
            opacity: 0;
            visibility: hidden;

            .v-to-see{
                color: #fff;
                border: 1px solid #fff;
                transform: translateY(20px);
                transition: .3s ease-out;
            }
        }
    }

    .box-text{
        text-align: center;
        padding-top: 20px;

        .title{
            font-size: 18px;
            color: #333;
        }
    }
}

.related-post{
    margin-top: 70px;
    padding-top: 30px;
    border-top: 1px solid #E6E6E6;

    .owl-carousel{
        &.owl-theme .owl-dots .owl-dot{
            outline: none;
            &.active span{
                background-color: #582C83;
            }
            span{
                margin: 5px 5px;
                background: #E6E6E6;
    
                &:hover{
                    background-color: #582C83;
                }
            }
        }
    
        &:hover .owl-nav{
            opacity: 1;
            visibility: visible;
        }

    }
}



// ------------------------------------------------------- contact -------------------------------------

.contact-info{
    padding-top: 60px;

    .in-c{
        font-size: 16px;
        color: #1d1d1d;
        margin-bottom: 10px;

        .fa{
            padding-right: 5px;
        }
    }

    .mb-mail{
        padding-top: 24px;
        h3{
            font-size: 16px;
            font-weight: 500;
            color: #1d1d1d;
            margin-bottom: 8.5px;
        }

        a{
            font-size: 16px;
            line-height: 28px;
            color: #755199;
        }
    }

    .getting{
        font-size: 24px;
        line-height: 30px;
        color: #582c83;
        margin-bottom: 18px;
    }
}

.form-contact{
    background: #F1F1F1;
    padding: 30px 0px;
    margin-top: 45px;

    .fill-form{
        max-width: 575px;
        margin: auto;
        .form-control{
            margin-bottom: 15px;
        }

        button{
            border:none;
            outline: none;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            padding: 10px 25px;
            background: #C1B497;
            transition: .3s ease-out;
            text-transform: uppercase;

            &:hover{
                background: #582C83;
            }
        }

        .row{
            flex: 0 0 90%;
            align-self: flex-end;
    
            &.no-gutters{
                margin-left: -7.5px;
                margin-right: -7.5px
            }
    
            &.no-gutters>.col, &.no-gutters>[class*=col-]{
                padding-left: 7.5px;
                padding-right: 7.5px;
            }
    
        }
    }
}

// ----------------------------------------------- responsive ---------------------------------------------------
@import "responsive";


